$primary_hot: rgb(236, 119, 95);
$primary_cold: rgb(118, 181, 188);

$neutral_dd: rgb(56, 35, 20);
$neutral_d: rgb(147, 134, 123);
$neutral_l: hsl(27, 66%, 92%);
$neutral_ll: rgb(255, 250, 245);

$font_size: 18px;